

/*Textarea*/
.rowOne{
    padding: 100px;
    
}

/*Menú fijo*/
#barra{
    position: absolute;
}

/*Barra de búsqueda*/
/* #busqueda{
    position: absolute;
    margin-left: 450px;
} */

img{
    width: 100%;
}
#post{
    margin-top: 5%;
}



    