/* .parallax-container .parallax img {
    opacity: 1 !important;
} */

/*Menú fijo*/
#barra{
    position: absolute;
}

/*Barra de búsqueda*/
/* #busqueda{
    position: absolute;
    margin-left: 450px;
} */