/* .parallax-container .parallax img {
    opacity: 1 !important;
} */

<<<<<<< HEAD
/*Menú fijo*/
#barra{
    position: absolute;
}

/*Barra de búsqueda*/
/* #busqueda{
    position: absolute;
    margin-left: 450px;
} */
=======
/* #containerPro{
    padding: 1110px;
    margin-left: 50px;
    margin-right: 0px;
} */

>>>>>>> muro
